body {
    background-image: url("./assets/images/crystalbackground.jpg");
}

h1 {
    background-color: orange;
    margin-right: 80%;
    padding-left: 1%;
}

#instructions {
    background-color: moccasin;
    color: darkgreen;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 5%;
    margin-right: 70%;
}

img {
    width: 75px;
    background-color: white;
    padding: 1%;
}

#random-number {
    background-color: green;
}

#scoreis {
    background-color:  cadetblue;
    color: white;
    padding-left: 1%;
    margin-right: 80%;
}